h1{

margin‐left:auto;
margin‐right:auto;
margin:0 auto;
width:2000%
height:3000%
color:#000080;
background-color:#ff8c00;

}
p{

font-size:300%;
font-weight:bold;
font-family:"新細明體";
margin‐left:auto;
margin‐right:auto;
margin:0 auto;
width:2000%;
height:3000%;
color:#ffff00;

}
